.sidebar_container {
  height: 666px;
  width: 250px;
  padding-top: 8px;
  background-color: #8cbae882;
  border-radius: 8px;
  left: 0;
  top: 30px;
  transition: transform 0.3s ease;
}

.sidebar_container.closed {
  transform: translateX(-100%);
}
.sidebar_container.open {
  transform: translateX(0);
}

.close_button {
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 8px;
}

.close_button:hover {
}
